{% extends 'base.html' %}

{% block content %}

<h1>Edit Account Details for {{ user.username }}</h1>

<h2>UPS</h2>
<form action="{{ url_for('edit_ups') }}" method="post">
    {{ ups.hidden_tag() }}
    {% for ups_field in ups if ups_field.widget.input_type != 'hidden' %}
        <p>
            {{ ups_field.label }}<br>
            {{ ups_field(size=32, autocomplete='off') }}<br>
            {% for error in ups_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    {% endfor %}
</form>

<h2>FedEx</h2>
<form action="{{ url_for('edit_fdx') }}" method="post">
    {{ fedex.hidden_tag() }}
    {% for fdx_field in fedex if fdx_field.widget.input_type != 'hidden' %}
        <p>
            {{ fdx_field.label }}<br>
            {{ fdx_field(size=32, autocomplete='off') }}<br>
            {% for error in fdx_field.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    {% endfor %}
</form>

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

{% endblock %}