<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<form method="POST" autocomplete="off">
    Zipcode:
    <input type="text" name="zipcode" value="{{ request.form['zipcode'] }}" maxlength=5>
    Weight:
    <input type="number" name="weight" value="{{ request.form['weight'] }}" min=1>
    Length:
    <input type="number" name="length" value="{{ request.form['length'] }}" min=1 max=1000>
    Width:
    <input type="number" name="width" value="{{ request.form['width'] }}" min=1 max=1000>
    Height:
    <input type="number" name="height" value="{{ request.form['height'] }}" min=1 max=1000>

    <input type="submit">
</form>